{{!-- FORM SECTION --}}
<section class="container my-3 enter-burger">
    <form>
        <div class="mb-3">
            <input type="text" class="form-control placeholder-center" id="enterBurger"
                placeholder="Enter A Burger Name">
            <button type="submit" class="btn btn-warning my-3 submitBtn">Submit</button>
        </div>
    </form>
</section>
{{!-- Display Section --}}
<section class="container-lg my-5 px-5">
    <div class="row">
        <div class="col-lg-6 text-center">
            <div class="burger-card">
                <h2>Burgers I want to eat</h2>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <div class="burger-card">
                <h2>Burgers I have eaten</h2>
            </div>
        </div>
    </div>
</section>